<header id="header">
  <div id="logo-container">
    <a href="/homepage">
      <h1>EZ Bank</h1>
      <p>Banking Made EZ</p>
    </a>
  </div>
  <nav id="header-content">
    <div id="about-us">
      <a href="/aboutus"><h2>About Us</h2></a>
    </div>
  </nav>
</header>

<div>
  <section>
    <h2>Create account</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password(Must contain at least 1 uppercase,1 lowercase, 1 number, 1 special character):</label>
        <input class="form-input" type="password" id="password-signup" />
        <input type="checkbox" id="show-password-signup"> Show Password
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">enroll</button>
      </div>
    </form>
  </section>
</div>

<script src="./js/enroll.js"></script>