about.css
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 30px;
  height: 75vh;
  background: linear-gradient(45deg,#328f8a,#08ac4b);
}

h2, p {
  font-size: 17px;
}

.EzBank a {
  text-decoration: none;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover, nav a:active {
  color: blue;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px;
  margin-top: -200px;
}

.EzBank a:hover {
  color: blue;
}

#about-us, h2{
  font-size: 25px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 50px;
}

.contact-info{
  margin-right: 100px;
}

.contact-info h3, .social-media h3 {
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.social-media a:hover {
  color: blue;
}

hr{
  border-top: 1px solid white;
  width: 100%;
  margin: 15px 0; 
}

#englishContent, #spanishContent {
  max-width: 750px;
  margin-left: 600px;
  background-color: white;
  padding: 10px;
  box-shadow: rgb(70, 69, 69) 10px 10px 10px;
  border-radius: 5px;
}

p {
  margin-top: 15px;
}