body {
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.brand {
  text-align: left;
  flex: 1; 
}

.brand h1, p {
  margin: 0;
}

nav {
  text-align: right;
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

  /* .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  }

  label, input, button {
  margin: 10px 0;
  } */