body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.brand {
  text-align: left;
  flex: 1; 
}

.brand h1, p {
  margin: 0;
}

nav {
  text-align: right;
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.main {
  background: url('') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 20px;
  width: 30%;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  margin: 50px 0 10px 10px;
}

.login-container h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, button {
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 5px 0px 5px 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.contact-info,
.social-media {
  flex: 1;
}

.contact-info h3,
.social-media h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
}